<section>
    <div class="container pt-4">
        <div class="row p-3">
            <h1 class="text-center">Cart</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row"><img style="width:50px; height:50px;"
                            src="/product-images/{{this.products._id}}.jpg" alt=""></th>
                    <td>{{this.products.productName}}</td>
                    <td>{{this.products.productAmount}}</td>
                    <td>
                        <button class="btn button mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.products._id}}',-1)">-</button>
                        <span id="{{this.products._id}}">{{this.quantity}}</span>
                        <button class="btn button ml-3"
                            onclick="changeQuantity('{{this._id}}','{{this.products._id}}',1)">+</button>
                    </td>
                    <td><button class="btn btn-danger"
                            onclick="removeCartItem('{{this.products._id}}','{{this._id}}')">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table><hr>
        <h3 class="text-right pr-5 pt-2">Total Rs : {{total}}</h3>
        <a href="/place-order" class="btn btn-success float-right mr-5 mt-3 order-button">Place Order</a>
    </div>
</section>

<style>
    .button {
        width: 2.5rem;
        height: 2.5rem;
        font-weight: bolder;
    }
    .order-button{
        width: 11rem;
    }
</style>

<script>
    changeQuantity = (cartId, proId, count) => {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            type: 'POST',
            data: {
                cart: cartId,
                product: proId,
                count: count,
                quantity:quantity
            },
            success: (response) => {
                console.log(response)
                if(response.removeProduct){
                    alert('product removed from cart')
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML=quantity+count
                }
            }
        })
    }

    removeCartItem = (proId,cartId)=>{
        $.ajax({
            url:'/remove-cart-item',
            type:'POST',
            data:{
                cartId : cartId,
                proId : proId
            },
            success:(response)=>{
                alert('Item removed from cart')
                location.reload()
            }
        })
    }
</script>